<form class="p-3 post-footer-form">
  <input id="PostId-{{this.id}}" type="hidden" value="{{this.id}}"/>
  <div class="form-group">
    <textarea id="comment-text-{{this.id}}" class="form-control" rows="3" placeholder="Write a comment.." name="text"></textarea>
  </div>
  <button class="btn btn-outline-primary lead pt-1 pb-1 pl-2 pr-2 add-comment" id="submit-{{this.id}}">Submit</button>
</form>
