<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
        integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script
          src="https://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"></script>
  <script defer src="/assets/js/light.js"></script>
  <script defer src="/assets/js/fontawesome.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <title>Login</title>
</head>
<body>
{{> navbar}}
{{{body}}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
<script>
  $('.add-comment').on('click', (event) => {
    event.preventDefault();
    axios.get('/comment').then((res) => {
      console.log(res.data);
      let myUsername = res.data.username;
      let myText = $(`#comment-text-${event.currentTarget.id.replace( /^\D+/g, '')}`).val();
      let currentTime = moment().fromNow();
      let obj = {
        text: myText,
        UserId: res.data.id,
        username: myUsername,
        PostId: $(`#PostId-${event.currentTarget.id.replace( /^\D+/g, '')}`).val()
      };
      console.log(obj);
      $.post("/comment", obj).then((result) => {
        let html =
        `
        <li class="list-group-item flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">${myUsername}</h5>
                <small>${currentTime}</small>
              </div>
              <p class="mb-1">${myText}</p>
            </li>
        `;
        $(`#all-comments-${event.currentTarget.id.replace( /^\D+/g, '')}`).append(html);
        console.log(result);
      });
    });
  });
</script>
</body>
</html>